#accelerate
appdirs
loralib
#bitsandbytes
black
black[jupyter]
#datasets
fire
#git+https://github.com/sterlind/peft.git
git+https://github.com/huggingface/transformers.git
#git+https://github.com/sterlind/GPTQ-for-LLaMa.git@lora_4bit
git+https://github.com/huggingface/huggingface_hub.git
#sentencepiece
#gradio
torch
#safetensors
#tensorboardX


accelerate==0.18.0
bitsandbytes==0.37.2
flexgen==0.1.7
gradio==5.11.0
markdown
numpy
peft==0.2.0
requests
rwkv==0.7.1
safetensors==0.3.0
sentencepiece
tqdm
datasets